@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

@import "tailwindcss";

:root {
  --BlueMain: #031634;
  --SkyBlue: #9cc4e4;
  --GrayMain: #e9f2f9;
  --OceanBlue: #3a89c9;
  --OrangeMain: #f26c4f;
  --BlueSecond: #03083b;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--BlueMain);
}

.title-page {
  background-color: var(--OrangeMain);
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  display: inline-block;
  margin-bottom: 40px;
}

.backgroundPresentation {
  position: relative;
  background-image: url("./assets/fondo_presentacion.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

.backgroundPresentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.backgroundPresentation > div {
  position: relative;
  z-index: 2;
}

/* SOCIAL NETWORKS */
.cardSocial {
  width: fit-content;
  height: fit-content;
  margin: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

/* facebook*/
.containerTwo:hover {
  background-color: #0020ee;
  transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ARROW DOWN */
.scroll-down {
  position: absolute;
  pointer-events: none;
  bottom: -100px;
  left: 48%;
  display: block;
  text-align: center;
  font-size: 30px;
  z-index: 3;
  text-decoration: none;
  text-shadow: 0;
  width: 35px;
  height: 35px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

/* CARDPORTFOLIO */
/* From Uiverse.io by eslam-hany */
.book {
  position: relative;
  margin: 60px 40px;
  border-radius: 10px;
  width: 420px;
  height: 280px;
  background-color: var(--OrangeMain);
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: end;
  color: #ffffff;
}

.cover {
  top: 0;
  position: absolute;
  background-color: var(--BlueMain);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.mySwiperPortfolio .swiper-slide {
  display: flex;
  padding: 10px;
}

.mySwiperPortfolio .swiper-button-next,
.mySwiperPortfolio .swiper-button-prev {
  color: var(--OrangeMain);
}

.mySwiperPortfolio .swiper-pagination-bullet {
  background-color: white;
  opacity: 0.4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 4px;
}

.mySwiperPortfolio .swiper-pagination-bullet-active {
  background-color: var(--OrangeMain);
  opacity: 1;
}
